<div class="page-header">
  <%# link_to snapshots_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <%# end %>
  <%= link_to project_video_snapshot_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Delete
  <% end %>
  <h1>Editing snapshot</h1>
</div>

<%= render 'form' %>
